Source: custom-conf-php74-apache2
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.5.0

Package: custom-conf-php74-apache2
Architecture: all
Provides: custom-conf-php-apache
Depends: custom-conf, custom-conf-apache2, libapache2-mod-php7.4
Description: Custom Configuration Framework - PHP 7.4 <-> Apache2
