Source: custom-packages-install-alsa
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-alsa
Architecture: all
Depends: custom-pack-alsa
Description: Custom Configuration Framework - ALSA stack (TRANSITIONAL)

