Source: custom-conf-polkit-libvirt
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.6.2

Package: custom-conf-polkit-libvirt
Architecture: all
Depends: custom-conf
Description: Custom Configuration Framework - Policy Kit <-> Allow LibVirt management
