Source: custom-conf-apt-vscode
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.6.2

Package: custom-conf-apt-vscode
Architecture: all
Depends: custom-conf, custom-conf-apt
Description: Custom Configuration Framework - Microsoft Visual Studio Code (VS Code) APT repository
