#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	find debian -type f -name .gitplaceholder -delete

override_dh_installsystemd:
	dh_installsystemd --name=xps13-9380-sleep

override_dh_installdocs:
	dh_installdocs README
