Source: custom-packages-install-flash
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-flash
Architecture: amd64
Depends: custom-pack-flash
Description: Custom Configuration Framework - Flash plugins (TRANSITIONAL)

