Source: custom-pack-libreoffice7-de
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.6.2

Package: custom-pack-libreoffice7-de
Architecture: all
Depends: libreoffice7.6-de, libreoffice7.6-dict-de, libobasis7.6-de-help
Description: Custom Configuration Framework - LibreOffice 7.6, German language pack (original upstream packages)

