Source: custom-pack-libreoffice7-de
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.3.0

Package: custom-pack-libreoffice7-de
Architecture: all
Depends: libreoffice7.0-de, libreoffice7.0-dict-de, libobasis7.0-de-help
Description: Custom Configuration Framework - LibreOffice 7.0, German language pack (original upstream packages)

