Source: custom-pack-flash
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.5.0

Package: custom-pack-flash
Architecture: amd64
Conflicts: flashplugin-nonfree, pepperflashplugin-nonfree
Description: Custom Configuration Framework - Flash plugins (original upstream packages) - EOL

