Source: custom-packages-install-common
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-common
Architecture: all
Depends: custom-packages-install-base, arc, arj, asciidoc, bc, bsd-mailx, bmon, dc, deb-multimedia-keyring, dialog, dnsutils, exif, exiv2, ffmpeg, flac, gif2png, giftrans, gnupg, htop, iftop, imagemagick, jpeginfo, lame, lm-sensors, lshw, lsof, mencoder, mkvtoolnix, moreutils, msort, p7zip-rar, pbzip2, pigz, pixz, plzip, pngcheck, preload, resample, psutils, tofrodos, tree, sox, sudo, unace, unalz, uni2ascii, units, unrar, usbutils, vlc-nox, vim-nox, x264, x265, wget
Description: Custom Configuration Framework - Common(ly used) packages

