Source: custom-conf-php84-fpm
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.7.2

Package: custom-conf-php84-fpm
Architecture: all
Provides: custom-conf-php-fpm
Depends: custom-conf, php8.4-fpm
Recommends: custom-conf-php84-apache2, libapache2-mod-fastcgi
Description: Custom Configuration Framework - PHP 8.4 <-> FPM
