Source: custom-pack-libreoffice6
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.3.0

Package: custom-pack-libreoffice6
Architecture: all
Depends: custom-pack-libreoffice6-en-us, libreoffice6.1, libreoffice6.1-calc, libreoffice6.1-draw, libreoffice6.1-impress, libreoffice6.1-math, libreoffice6.1-writer, libreoffice6.1-debian-menus, libobasis6.1-gnome-integration, libobasis6.1-graphicfilter, libobasis6.1-ogltrans, libobasis6.1-ooofonts, libobasis6.1-ooolinguistic
Suggests: custom-pack-libreoffice6-en-gb, custom-pack-libreoffice6-de, custom-pack-libreoffice6-fr, custom-pack-libreoffice6-it
Description: Custom Configuration Framework - LibreOffice 6.1 (original upstream packages)

