Source: custom-packages-install-nvidia
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-nvidia
Architecture: all
Depends: nvidia-driver, nvidia-settings, nvidia-smi, nvidia-vdpau-driver, nvidia-cuda-toolkit, nvidia-opencl-icd, clinfo
Suggests: custom-conf-xorg-nvidia
Description: Custom Configuration Framework - nVidia proprietary driver stack

