Source: custom-pack-cuda
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.1.3

Package: custom-pack-cuda
Architecture: all
Depends: gcfg (>= 2.0.20180514a), nvidia-cuda-toolkit, nvidia-opencl-icd, clinfo
Recommends: custom-pack-nvidia
Suggests: gcc-4.9, g++-4.9
Description: Custom Configuration Framework - nVidia CUDA stack

