Source: custom-pack-libreoffice6-fr
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.3.0

Package: custom-pack-libreoffice6-fr
Architecture: all
Depends: libreoffice6.4-fr, libreoffice6.4-dict-fr, libobasis6.4-fr-help
Description: Custom Configuration Framework - LibreOffice 6.4, French language pack (original upstream packages)

