Source: custom-pack-libreoffice5
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-pack-libreoffice5
Architecture: all
Breaks: custom-packages-install-libreoffice5 (<< 2017.03.07a)
Replaces: custom-packages-install-libreoffice5 (<< 2017.03.07a)
Depends: custom-pack-libreoffice5-en-us, libreoffice5.3, libreoffice5.3-calc, libreoffice5.3-draw, libreoffice5.3-impress, libreoffice5.3-math, libreoffice5.3-writer, libreoffice5.3-debian-menus, libobasis5.3-gnome-integration, libobasis5.3-graphicfilter, libobasis5.3-ogltrans, libobasis5.3-ooofonts, libobasis5.3-ooolinguistic
Suggests: custom-pack-libreoffice5-en-gb, custom-pack-libreoffice5-de, custom-pack-libreoffice5-fr, custom-pack-libreoffice5-it
Description: Custom Configuration Framework - LibreOffice 5.3 (original upstream packages)

