Source: custom-pack-sysutils
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.6.0

Package: custom-pack-sysutils
Architecture: all
Depends: custom-pack-base, arc, arj, asciidoc, bc, bsd-mailx, bmon, dc, dialog, bind9-dnsutils, gnupg, hdparm, htop, iftop, lm-sensors, lshw, lsof, lz4, moreutils, msort, p7zip-rar, pbzip2, pigz, pixz, plzip, psutils, tofrodos, tree, sharutils, sudo, unace, unalz, uni2ascii, units, unrar, usbutils, wget, zstd
Description: Custom Configuration Framework - System utilities (command line)

