Source: custom-pack-libreoffice6-de
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.3.0

Package: custom-pack-libreoffice6-de
Architecture: all
Depends: libreoffice6.3-de, libreoffice6.3-dict-de, libobasis6.3-de-help
Description: Custom Configuration Framework - LibreOffice 6.3, German language pack (original upstream packages)

