Source: custom-pack-libreoffice6-de
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.1.3

Package: custom-pack-libreoffice6-de
Architecture: all
Depends: libreoffice6.0-de, libreoffice6.0-dict-de, libobasis6.0-de-help
Description: Custom Configuration Framework - LibreOffice 6.0, German language pack (original upstream packages)

