Source: custom-conf-lightdm
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.6.2

Package: custom-conf-lightdm
Architecture: all
Depends: custom-conf, custom-artwork, lightdm, policykit-1, xorg
Description: Custom Configuration Framework - LightDM

