Source: custom-conf-pam-krb5
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.1.3

Package: custom-conf-pam-krb5
Architecture: all
Depends: custom-conf, custom-conf-krb5, custom-conf-nss-ldap, libpam-krb5, libpam-ldap (>= 100) | libpam-ldapd, libpam-script
Provides: custom-conf-pam
Conflicts: custom-conf-pam
Replaces: custom-conf-pam
Suggests: custom-conf-nslcd
Description: Custom Configuration Framework - PAM <-> MIT Kerberos V

