Source: custom-conf-pam-krb5
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-conf-pam-krb5
Architecture: all
Depends: custom-conf, custom-conf-krb5, custom-conf-nss-ldap, libpam-krb5, libpam-ldap, libpam-script
Conflicts: custom-conf-pam-ldap
Breaks: custom-conf-krb5-pam (<< 2016.07.05a)
Replaces: custom-conf-krb5-pam (<< 2016.07.05a)
Description: Custom Configuration Framework - PAM <-> MIT Kerberos V

