Source: custom-pack-network
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.6.2

Package: custom-pack-network
Architecture: all
Depends: network-manager, network-manager-gnome
Suggests: custom-conf-polkit-network
Description: Custom Configuration Framework - Network stack (user space)

