Source: custom-pack-libreoffice7-fr
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.6.0

Package: custom-pack-libreoffice7-fr
Architecture: all
Depends: libreoffice7.1-fr, libreoffice7.1-dict-fr, libobasis7.1-fr-help
Description: Custom Configuration Framework - LibreOffice 7.1, French language pack (original upstream packages)

