Source: custom-packages-install-pulseaudio
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-pulseaudio
Architecture: all
Depends: custom-pack-pulseaudio
Description: Custom Configuration Framework - PulseAudio stack (TRANSITIONAL)

