## CUSTOM-CONF: File automatically created/updated [custom-conf-hostname-dhcp]

[Unit]
Description=Update hostname (and dependencies) after DHCP
After=network.target
Before=systemd-user-sessions.service nscd.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/share/custom-conf-hostname-dhcp/scripts/update_hostname.sh

[Install]
WantedBy=multi-user.target
WantedBy=network-online.target

