Source: custom-conf-apache2-templates
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-conf-apache2-templates
Architecture: all
Depends: custom-conf, custom-certificates (>= 2016.07.05a), custom-conf-ldap, libapache2-mod-macro
Description: Custom Configuration Framework - Apache2 templates

