Source: custom-conf-locale
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.7.2

Package: custom-conf-locale
Architecture: all
Depends: custom-conf (>= 2018.05.14a)
Description: Custom Configuration Framework - Locale settings (keyboard, string format, paper size, etc.)

