Source: custom-conf-polkit-hibernate
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-conf-polkit-hibernate
Architecture: all
Depends: custom-conf
Conflicts: custom-conf-polkit-nopower
Description: Custom Configuration Framework - Policy Kit <-> Allow suspend and hibernate

