Source: custom-pack-libreoffice6-en-us
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.3.0

Package: custom-pack-libreoffice6-en-us
Architecture: all
Depends: libreoffice6.4-en-us, libreoffice6.4-dict-en, libobasis6.4-en-us-help
Description: Custom Configuration Framework - LibreOffice 6.4, Engligh (US) language pack (original upstream packages)

