Source: custom-packages-install-openoffice4-en-us
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-openoffice4-en-us
Architecture: all
Depends: custom-pack-openoffice4-en-us
Description: Custom Configuration Framework - OpenOffice.org 4, Engligh (US) language pack (TRANSITIONAL)

