Source: custom-pack-mmutils
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.1.3

Package: custom-pack-mmutils
Architecture: all
Depends: deb-multimedia-keyring, exif, exiv2, ffmpeg, flac, giftrans, imagemagick, jpeginfo, lame, mencoder, mplayer, mkvtoolnix, pngcheck, resample, sox, x264, x265
Description: Custom Configuration Framework - Multimedia utilities (command line)

