Source: custom-conf-ntpsec
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.6.2

Package: custom-conf-ntpsec
Architecture: all
Provides: custom-conf-time
Replaces: custom-conf-time
Conflicts: custom-conf-time
Depends: custom-conf, ntpsec, tzdata
Description: Custom Configuration Framework - NTPsec (server/client)

