Source: custom-pack-network
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-pack-network
Architecture: all
Breaks: custom-packages-install-network (<< 2017.03.07a)
Replaces: custom-packages-install-network (<< 2017.03.07a)
Depends: network-manager, network-manager-gnome
Suggests: custom-conf-polkit-network
Description: Custom Configuration Framework - Network stack (user space)

