Source: custom-packages-install-xfce4
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-xfce4
Architecture: all
Depends: custom-pack-xfce4
Description: Custom Configuration Framework - XFCE4 desktop environment (TRANSITIONAL)

