Source: custom-packages-install-libreoffice5-fr
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-libreoffice5-fr
Architecture: all
Depends: libreoffice5.1-fr, libreoffice5.1-dict-fr, libobasis5.1-fr-help
Description: Custom Configuration Framework - LibreOffice 5.1, French language pack (original upstream packages)

