Source: custom-conf-autofs
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-conf-autofs
Architecture: all
Depends: custom-conf, autofs
Suggests: custom-conf-autofs-ldap, custom-conf-autofs-nfs
Description: Custom Configuration Framework - AutoFS

