Source: custom-pack-libreoffice6-it
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.3.0

Package: custom-pack-libreoffice6-it
Architecture: all
Depends: libreoffice6.1-it, libreoffice6.1-dict-it, libobasis6.1-it-help
Description: Custom Configuration Framework - LibreOffice 6.1, Engligh (US) language pack (original upstream packages)

