Source: custom-pack-libreoffice6-it
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.3.0

Package: custom-pack-libreoffice6-it
Architecture: all
Depends: libreoffice6.4-it, libreoffice6.4-dict-it, libobasis6.4-it-help
Description: Custom Configuration Framework - LibreOffice 6.4, Italian language pack (original upstream packages)

