Source: custom-root-env
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.7.2

Package: custom-root-env
Architecture: all
Depends: gcfg, bash, bash-completion, vim-tiny
Description: Custom Configuration Framework - 'root' Environment

