Source: custom-conf-php5-apache2
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-conf-php5-apache2
Architecture: all
Depends: custom-conf, custom-conf-apache2, libapache2-mod-php5
Breaks: custom-conf-php5 (<< 2016.07.05a)
Replaces: custom-conf-php5 (<< 2016.07.05a)
Description: Custom Configuration Framework - PHP5 <-> Apache2

