Source: custom-packages-install-common
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-common
Architecture: all
Depends: custom-pack-sysutils, custom-pack-mmutils
Description: Custom Configuration Framework - Common(ly used) packages (TRANSITIONAL)

