Source: custom-conf-cups
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.6.2

Package: custom-conf-cups
Architecture: all
Depends: custom-conf, custom-certificates, cups, cups-browsed, printer-driver-cups-pdf | cups-pdf, colord
Description: Custom Configuration Framework - CUPS (client)

