Source: custom-packages-install-libreoffice5-it
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-libreoffice5-it
Architecture: all
Depends: custom-pack-libreoffice5-it
Description: Custom Configuration Framework - LibreOffice 5.2, Engligh (US) language pack (TRANSITIONAL)

