Source: custom-conf-php73-fpm
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.1.3

Package: custom-conf-php73-fpm
Architecture: all
Provides: custom-conf-php-fpm
Depends: custom-conf, php7.3-fpm
Recommends: custom-conf-php73-apache2, libapache2-mod-fastcgi
Description: Custom Configuration Framework - PHP 7.3 <-> FPM

