Source: custom-util-skel
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-util-skel
Architecture: all
Depends: libnss3-tools
Description: Custom Configuration Framework - User profile utilities

