Source: custom-util-zfs
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7
Build-Depends: dh-systemd

Package: custom-util-zfs
Architecture: all
Depends: zfsutils, ${misc:Depends}
Description: Custom Configuration Framework - ZFS utilities

