#!/usr/bin/make -f

%:
	dh $@ --with systemd

override_dh_install:
	dh_install
	find debian -type f -name .gitplaceholder -delete

override_dh_installinit:
	# SysV
	dh_installinit --name=zfs-load-keys
	dh_installinit --name=zfs-mount-late
	# Systemd
	dh_installsystemd --name=zfs-load-keys
	dh_installsystemd --name=zfs-mount-late

override_dh_installdocs:
	dh_installdocs README

