Source: custom-util-libvirt
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-util-libvirt
Architecture: all
Recommends: gustat
Description: Custom Configuration Framework - LibVirt/KVM utilities

