Source: custom-task-base
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-task-base
Architecture: all
Depends: custom-root-env, custom-pack-base
Suggests: custom-conf-iptables
Description: Custom Configuration Framework - (Generic) Base setup

