Source: custom-conf-apt-docker
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.7.2

Package: custom-conf-apt-docker
Architecture: all
Depends: custom-conf, custom-conf-apt, apt-transport-https, ca-certificates
Description: Custom Configuration Framework - Docker APT repository

