## CUSTOM-CONF: File automatically created/updated [custom-conf-mysql]

## MySQL Configuration

# Client
[client]
port                    = 3306
socket                  = /var/run/mysqld/mysqld.sock
default-character-set   = utf8

# Server
[mysqld_safe]
socket                  = /var/run/mysqld/mysqld.sock
nice                    = 0

[mysqld]
user                    = mysql
pid-file                = /var/run/mysqld/mysqld.pid
socket                  = /var/run/mysqld/mysqld.sock
port                    = 3306
basedir                 = /usr
datadir                 = /var/lib/mysql
tmpdir                  = /tmp
language                = /usr/share/mysql/english
skip-external-locking
# ... listening address
# (Please use 'dpkg-reconfigure custom-conf-mysql' to change this setting)
%{CUSTOM_CONF_MYSQL_LISTEN_IPADDR}

# TLS/SSL
# (Please use 'dpkg-reconfigure custom-conf-mysql' to en/disable this setting)
# WARNING: Make sure to 'adduser mysql ssl-cert' and set matching
#          permissions on the private key file!
#ssl-ca=/etc/ssl/local/localhost-cachain.pem
#ssl-cert=/etc/ssl/local/localhost-cert.pem
#ssl-key=/etc/ssl/local/localhost-key.pem

# Fine Tuning
key_buffer              = 16M
max_allowed_packet      = 16M
thread_stack            = 192K
thread_cache_size       = 8
myisam-recover		= BACKUP
#max_connections	= 100
#table_cache		= 64
#thread_concurrency	= 10

# Query Cache Configuration
query_cache_limit	= 1M
query_cache_size	= 16M

# Logging
# WARNING: in production, enabling logging severly loads the servers I/O
#general_log_file	= /var/log/mysql/mysql.log
#general_log		= 1
log_slow_queries	= /var/log/mysql/mysql-slow.log
long_query_time		= 2
#log-queries-not-using-indexes

# Replication Logs
# WARNING: Using expire_logs_days without bin_log crashes the server! See README.Debian!
#server-id		= 1
#log_bin		= /var/log/mysql/mysql-bin.log
#expire_logs_days	= 10
#max_binlog_size	= 100M
#binlog_do_db		= include_database_name
#binlog_ignore_db	= include_database_name

# Backup (dump)
[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

# Miscellaneous
[mysql]
#no-auto-rehash	# faster start of mysql but no tab completition

[isamchk]
key_buffer		= 16M

# Additional
!includedir /etc/mysql/conf.d/

