Source: custom-packages-install-libreoffice5-fr
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-libreoffice5-fr
Architecture: all
Depends: custom-pack-libreoffice5-fr
Description: Custom Configuration Framework - LibreOffice 5.2, French language pack (TRANSITIONAL)

