Source: custom-conf-apt-nvidia-docker
Section: admin
Priority: optional
Maintainer: Samuel Gaist <samuel.gaist@idiap.ch>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.6.0

Package: custom-conf-apt-nvidia-docker
Architecture: all
Depends: custom-conf, custom-conf-apt, apt-transport-https, ca-certificates
Description: Custom Configuration Framework - NVIDIA Docker APT repository

