Source: custom-conf-xorg-generic
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.8

Package: custom-conf-xorg-generic
Architecture: all
Depends: custom-conf
Conflicts: custom-conf-xorg-intel, custom-conf-xorg-nvidia
Description: Custom Configuration Framework - X.org <-> generic GPU

