## CUSTOM-CONF: File automatically created/updated [custom-conf-wireguard]

## WireGuard interface service
[Unit]
Description=WireGuard VPN interface (%i)

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/default/wireguard@%i
ExecStart=-ip link del dev %i
ExecStart=ip link add dev %i type wireguard
ExecStart=ip addr add ${WIREGUARD_ADDRESS} dev %i
ExecStart=wg setconf %i /etc/wireguard/%i.conf
ExecStart=ip link set dev %i up
ExecStop=ip link del dev %i

[Install]
WantedBy=network.target

