Source: custom-pack-mmutils
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-pack-mmutils
Architecture: all
Breaks: custom-packages-install-common (<< 2017.03.07a)
Replaces: custom-packages-install-common (<< 2017.03.07a)
Depends: deb-multimedia-keyring, exif, exiv2, ffmpeg, flac, gif2png, giftrans, imagemagick, jpeginfo, lame, mencoder, mkvtoolnix, pngcheck, resample, sox, vlc-nox, x264, x265
Description: Custom Configuration Framework - Multimedia utilities (command line)

