Source: custom-conf-thunderbird
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.6.2

Package: custom-conf-thunderbird
Architecture: all
Depends: custom-conf, thunderbird
Recommends: custom-conf-apparmor
Description: Custom Configuration Framework - Mozilla Thunderbird

