Source: custom-pack-libreoffice5-it
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-pack-libreoffice5-it
Architecture: all
Breaks: custom-packages-install-libreoffice5-it (<< 2017.03.07a)
Replaces: custom-packages-install-libreoffice5-it (<< 2017.03.07a)
Depends: libreoffice5.3-it, libreoffice5.3-dict-it, libobasis5.3-it-help
Description: Custom Configuration Framework - LibreOffice 5.3, Engligh (US) language pack (original upstream packages)

