Source: custom-pack-libreoffice5-it
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-pack-libreoffice5-it
Architecture: all
Depends: libreoffice5.4-it, libreoffice5.4-dict-it, libobasis5.4-it-help
Description: Custom Configuration Framework - LibreOffice 5.4, Engligh (US) language pack (original upstream packages)

