Source: custom-packages-install-lib32
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-lib32
Architecture: all
Depends: custom-pack-lib32
Description: Custom Configuration Framework - low-level 32-bit support libraries (TRANSITIONAL)

