Source: custom-conf-nss-ldap
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.6.2

Package: custom-conf-nss-ldap
Architecture: all
Depends: custom-conf (>= 2018.05.14a), custom-conf-ldap, custom-certificates, libnss-ldapd | libnss-ldap (>= 100)
Provides: custom-conf-nss
Conflicts: custom-conf-nss
Replaces: custom-conf-nss
Recommends: custom-conf-nslcd | custom-conf-nscd
Suggests: custom-conf-pam-ldap
Description: Custom Configuration Framework - NSS (Name Services) <-> LDAP

