Source: custom-conf-nss-ldap
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-conf-nss-ldap
Architecture: all
Depends: custom-conf, custom-conf-ldap, custom-certificates (>= 2016.07.05a), libnss-ldap
Recommends: custom-conf-nscd
Suggests: custom-conf-pam-ldap
Breaks: custom-conf-nss (<< 2016.07.05a)
Replaces: custom-conf-nss (<< 2016.07.05a)
Description: Custom Configuration Framework - NSS (Name Services) <-> LDAP

