Source: custom-conf-hostname-static
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-conf-hostname-static
Architecture: all
Conflicts: custom-conf-hostname-dhcp
Depends: custom-conf
Description: Custom Configuration Framework - (Static) Hostname setting

