Source: custom-conf-hostname-static
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.1.3

Package: custom-conf-hostname-static
Architecture: all
Provides: custom-conf-hostname
Replaces: custom-conf-hostname
Conflicts: custom-conf-hostname
Depends: custom-conf
Description: Custom Configuration Framework - (Static) Hostname setting

