Source: custom-pack-libreoffice6-en-gb
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.3.0

Package: custom-pack-libreoffice6-en-gb
Architecture: all
Depends: libreoffice6.3-en-gb, libreoffice6.3-dict-en, libobasis6.3-en-gb-help
Description: Custom Configuration Framework - LibreOffice 6.3, Engligh (GB) language pack (original upstream packages)

