Source: custom-util-blockdev
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-util-blockdev
Architecture: all
Description: Custom Configuration Framework - Block devices management utilities

