Source: custom-conf-mdadm
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-conf-mdadm
Architecture: all
Depends: custom-conf, mdadm
Description: Custom Configuration Framework - MDADM

