Source: custom-packages-install-libreoffice5
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-libreoffice5
Architecture: all
Depends: custom-packages-install-libreoffice5-en-us, libreoffice5.1, libreoffice5.1-calc, libreoffice5.1-draw, libreoffice5.1-impress, libreoffice5.1-math, libreoffice5.1-writer, libreoffice5.1-debian-menus, libobasis5.1-gnome-integration, libobasis5.1-graphicfilter, libobasis5.1-ogltrans, libobasis5.1-ooofonts, libobasis5.1-ooolinguistic
Suggests: custom-packages-install-libreoffice5-en-gb, custom-packages-install-libreoffice5-de, custom-packages-install-libreoffice5-fr, custom-packages-install-libreoffice5-it
Description: Custom Configuration Framework - LibreOffice 5.1 (original upstream packages)

