Source: custom-pack-nvidia
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-pack-nvidia
Architecture: all
Breaks: custom-packages-install-nvidia (<< 2017.03.07a)
Replaces: custom-packages-install-nvidia (<< 2017.03.07a)
Depends: nvidia-driver, nvidia-settings, nvidia-smi, nvidia-vdpau-driver
Recommends: custom-conf-xorg-nvidia
Suggests: custom-pack-cuda
Description: Custom Configuration Framework - nVidia proprietary driver stack

