<!-- CUSTOM-CONF: File automatically created/updated [custom-conf-django] -->
<HTML>
<HEAD>
<TITLE>Sample Django Application Skeleton</TITLE>
<STYLE TYPE="text/css">
BODY,TABLE {FONT:12px sans-serif;BACKGROUND:#FFFFFF;}
A {TEXT-DECORATION:none;COLOR:#0086FF;}
A:hover {TEXT-DECORATION:underline;}
IMG {BORDER:none;}
</STYLE>
</HEAD>
<BODY STYLE="WIDTH:100%;">
<TABLE STYLE="WIDTH:100%;MARGIN-TOP:25px;"><TR>
<TD STYLE="TEXT-ALIGN:center;VERTICAL-ALIGN:middle">
<DIV STYLE="POSITION:relative;MARGIN-TOP:50px;MARGIN-BOTTOM:20px;">
<IMG ALT="Sample Django Application Skeleton" SRC="/media/logo.png">
<DIV STYLE="POSITION:relative;LEFT:200px;TOP:-25px;"><IMG SRC="/media/python-logo.gif" WIDTH="211" HEIGHT="71"></DIV>
<DIV STYLE="POSITION:relative;TOP:-50px;"><P><A HREF="https://www.djangoproject.com/">Python Django Web Framework</A></P></DIV>
</DIV>
<DIV STYLE="WIDTH:800px;HEIGHT:400px;MARGIN:auto;">
<P><B>Welcome!</B></P>
<P>The page you requested could not be found. Please check/update your URL.<P>
</DIV>
</TD>
</TR></TABLE>
</BODY>
</HTML>

