Source: custom-conf-ipv6-static
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-conf-ipv6-static
Architecture: all
Depends: custom-conf
Conflicts: custom-conf-ipv6-dhcp
Description: Custom Configuration Framework - Static IPv6

