Source: custom-pack-openoffice4
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-pack-openoffice4
Architecture: all
Breaks: custom-packages-install-openoffice4 (<< 2017.03.07a)
Replaces: custom-packages-install-openoffice4 (<< 2017.03.07a)
Depends: custom-pack-openoffice4-en-us, openoffice (>= 4.0.0), openoffice-calc (>= 4.0.0), openoffice-draw (>= 4.0.0), openoffice-impress (>= 4.0.0), openoffice-math (>= 4.0.0), openoffice-writer (>= 4.0.0), openoffice-debian-menus (>= 4.0), openoffice-gnome-integration (>= 4.0.0), openoffice-graphicfilter (>= 4.0.0), openoffice-ogltrans (>= 4.0.0), openoffice-ooofonts (>= 4.0.0), openoffice-ooolinguistic (>= 4.0.0)
Suggests: custom-pack-openoffice4-en-gb, custom-pack-openoffice4-de, custom-pack-openoffice4-fr, custom-pack-openoffice4-it
Description: Custom Configuration Framework - OpenOffice.org 4 (original Apache packages)

