Source: custom-conf-apt-owncloud
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-conf-apt-owncloud
Architecture: all
Depends: custom-conf, custom-conf-apt
Description: Custom Configuration Framework - ownCloud (client) APT repository

