Source: custom-conf-php74-fpm
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.5.0

Package: custom-conf-php74-fpm
Architecture: all
Provides: custom-conf-php-fpm
Depends: custom-conf, php7.4-fpm
Recommends: custom-conf-php74-apache2, libapache2-mod-fastcgi
Description: Custom Configuration Framework - PHP 7.4 <-> FPM
