Source: custom-pack-libreoffice5-de
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-pack-libreoffice5-de
Architecture: all
Depends: libreoffice5.4-de, libreoffice5.4-dict-de, libobasis5.4-de-help
Description: Custom Configuration Framework - LibreOffice 5.4, German language pack (original upstream packages)

