Source: custom-defs-test
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-defs-test
Architecture: all
Depends: custom-conf
Provides: custom-conf-defs
Description: Custom Configuration Framework - Definitions <-> TEST environment

