Source: custom-conf-symfony-lts
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.1.3

Package: custom-conf-symfony-lts
Architecture: all
Depends: custom-conf-symfony-3.4
Description: Custom Configuration Framework - PHP/Symfony (LTS version meta-package)

