Source: custom-pack-libreoffice-fr
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.7.2

Package: custom-pack-libreoffice-fr
Architecture: all
Conflicts: custom-pack-libreoffice7-fr
Replaces: custom-pack-libreoffice7-fr
Depends: libreoffice25.2-fr, libreoffice25.2-dict-fr, libobasis25.2-fr, libobasis25.2-fr-help
Description: Custom Configuration Framework - LibreOffice 25.2, French language pack (original upstream packages)

