Source: custom-pack-libreoffice
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.7.2

Package: custom-pack-libreoffice
Architecture: all
Conflicts: custom-pack-libreoffice7
Replaces: custom-pack-libreoffice7
Depends: custom-pack-libreoffice-en-us, libreoffice25.8-calc, libreoffice25.8-draw, libreoffice25.8-impress, libreoffice25.8-math, libreoffice25.8-writer, libreoffice25.8-debian-menus, libobasis25.8-gnome-integration, libobasis25.8-graphicfilter, libobasis25.8-ogltrans, libobasis25.8-ooofonts, libobasis25.8-ooolinguistic
Suggests: custom-pack-libreoffice-en-gb, custom-pack-libreoffice-de, custom-pack-libreoffice-fr, custom-pack-libreoffice-it
Description: Custom Configuration Framework - LibreOffice 25.8 (original upstream packages)

