Source: custom-conf-pam-ldap
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.1.3

Package: custom-conf-pam-ldap
Architecture: all
Depends: custom-conf, custom-conf-nss-ldap, libpam-ldap
Provides: custom-conf-pam
Conflicts: custom-conf-pam
Replaces: custom-conf-pam
Description: Custom Configuration Framework - PAM <-> LDAP

