#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	#dh_installalternatives  # starting debhelper >= 13
	find debian -type f -name .gitplaceholder -delete

override_dh_installdocs:
	dh_installdocs README

