Source: custom-packages-install-libreoffice5-it
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-libreoffice5-it
Architecture: all
Depends: libreoffice5.1-it, libreoffice5.1-dict-it, libobasis5.1-it-help
Description: Custom Configuration Framework - LibreOffice 5.1, Engligh (US) language pack (original upstream packages)

