Source: custom-packages-install-pulseaudio
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-pulseaudio
Architecture: all
Depends: alsa-base, alsa-utils, pulseaudio, pulseaudio-module-x11, pavumeter, pavucontrol, gstreamer0.10-pulseaudio, gstreamer0.10-plugins-base, gstreamer0.10-plugins-good, gstreamer0.10-plugins-bad, gstreamer0.10-plugins-ugly
Recommends: paman, paprefs, rtkit
Description: Custom Configuration Framework - PulseAudio stack

