Source: custom-pack-libreoffice5-en-gb
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-pack-libreoffice5-en-gb
Architecture: all
Depends: libreoffice5.4-en-gb, libreoffice5.4-dict-en, libobasis5.4-en-gb-help
Description: Custom Configuration Framework - LibreOffice 5.4, Engligh (GB) language pack (original upstream packages)

