Source: custom-packages-install-network
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-network
Architecture: all
Depends: custom-pack-network
Description: Custom Configuration Framework - Network stack (TRANSITIONAL)

