Source: custom-conf-apt-suisseid
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.8

Package: custom-conf-apt-suisseid
Architecture: all
Depends: custom-conf, custom-conf-apt
Description: Custom Configuration Framework - SuisseID (SwissSign) APT repository

