Source: custom-pack-nvidia
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.7.2

Package: custom-pack-nvidia
Architecture: all
Depends: linux-headers-amd64, libnvcuvid1, nvidia-driver, nvidia-settings, nvidia-smi, nvidia-vaapi-driver, nvidia-vdpau-driver, nvidia-vulkan-icd, vainfo, vulkan-tools
Recommends: custom-conf-xorg-nvidia, acpid
Suggests: custom-pack-cuda
Description: Custom Configuration Framework - nVidia proprietary driver stack

