Source: custom-util-pdf
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.7.2

Package: custom-util-pdf
Architecture: all
Depends: ghostscript, imagemagick | graphicsmagick-imagemagick-compat, libgxps-utils, libtiff-tools, libxml2-utils, poppler-utils, unzip
Recommends: mutt, sane-utils
Suggests: evince
Description: Custom Configuration Framework - PDF utilities

