Source: custom-pack-jack
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-pack-jack
Architecture: all
Breaks: custom-packages-install-jack (<< 2017.03.07a)
Replaces: custom-packages-install-jack (<< 2017.03.07a)
Depends: custom-pack-pulseaudio, pulseaudio-module-jack, jackd, qjackctl
Description: Custom Configuration Framework - JACK stack

