Source: custom-conf-polkit-bluetooth
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-conf-polkit-bluetooth
Architecture: all
Depends: custom-conf
Description: Custom Configuration Framework - Policy Kit <-> Allow bluetooth configuration

