Source: custom-conf-apache2
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.7.2

Package: custom-conf-apache2
Architecture: all
Depends: custom-conf, custom-certificates, custom-conf-apache2-templates, apache2, apache2-bin (>= 2.4) | libapache2-mod-macro, lsb-release
Description: Custom Configuration Framework - Apache2
