Source: custom-conf-apache2
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-conf-apache2
Architecture: all
Depends: custom-conf, custom-certificates (>= 2016.07.05a), custom-conf-utils (>= 2016.06.10a), custom-conf-apache2-templates, apache2, libapache2-mod-macro, lsb-release
Description: Custom Configuration Framework - Apache2

