## CUSTOM-CONF: File automatically created/updated [custom-conf-docker]
#  Run 'systemctl daemon-reload' to enforce changes
#  REF: /lib/systemd/system/docker.service

[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
Before=rsyslog.service
After=network.target docker.socket
Requires=docker.socket

[Service]
Type=notify
# the default is not to use systemd for cgroups because the delegate issues still
# exists and systemd currently does not support the cgroup feature set required
# for containers run by docker
# Also:
# 1. Make sure the default (docker0) network bridge is configured with an
#    appropriate (non-conflicting) IP range
# 2. Disable the userland proxy for port mapping (requires kernel > 2.6)
#    REF: https://github.com/docker/docker/issues/8356
ExecStart=/usr/bin/docker daemon -H fd:// %{CUSTOM_CONF_DOCKER_OPTS}
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
TimeoutStartSec=0
# set delegate yes so that systemd does not reset the cgroups of docker containers
Delegate=yes

[Install]
WantedBy=multi-user.target

