## CUSTOM-CONF: File automatically created/updated [custom-conf-docker]
#  Run 'systemctl daemon-reload' to enforce changes
#  REF: /lib/systemd/system/docker.service

[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
%{CUSTOM_CONF_DOCKER_SYSTEMD_DEPS}
Before=rsyslog.service
After=network-online.target firewalld.service
Wants=network-online.target

[Service]
Type=notify
# the default is not to use systemd for cgroups because the delegate issues still
# exists and systemd currently does not support the cgroup feature set required
# for containers run by docker
# Also:
# 1. Make sure the default (docker0) network bridge is configured with an
#    appropriate (non-conflicting) IP range
# 2. Disable the userland proxy for port mapping (requires kernel > 2.6)
#    REF: https://github.com/docker/docker/issues/8356
ExecStart=%{CUSTOM_CONF_DOCKER_DAEMON} -H unix:// %{CUSTOM_CONF_DOCKER_OPTS}
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutSec=0
# restart the docker process if it exits prematurely
Restart=on-failure
RestartSec=2
StartLimitBurst=3
StartLimitInterval=60s
# non-zero Limit*s causes performance problems due to accounting overhead in the kernel
# (if limits are needed, use cgroups accounting instead)
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
# set delegate yes so that systemd does not reset the cgroups of docker containers
Delegate=yes
# kill only the docker process, not all processes in the cgroup
KillMode=process

[Install]
WantedBy=multi-user.target

