## CUSTOM-CONF: File automatically created/updated [custom-conf-ssh]

# Snippets
Include /etc/ssh/ssh_config.d/*.conf

# Defaults
Host *
  # Hosts
  %{CUSTOM_CONF_SSH_HASHKNOWNHOSTS}

  # Authentication
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials no

  # Connection
  TCPKeepAlive no
  %{CUSTOM_CONF_SSH_SERVERALIVE}

  # Environment
  SendEnv LANG LC_*
