## CUSTOM-CONF: File automatically created/updated [custom-conf-ssh]

# Snippets
Include /etc/ssh/ssh_config.d/*.conf

# Defaults
Host *
  # Hosts
  %{CUSTOM_CONF_SSH_HASHKNOWNHOSTS}

  # Connections
  %{CUSTOM_CONF_SSH_TCPKEEPALIVE}
  ServerAliveInterval 285

  # Authentication
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials no

  # Environment
  SendEnv LANG LC_*
