## CUSTOM-CONF: File automatically created/updated [custom-conf-ssh]

# Network settings
AddressFamily any
Port 22
# ... listening address(es)
# (Please use 'dpkg-reconfigure custom-conf-ssh' to change this setting)
%{CUSTOM_CONF_SSH_LISTEN_IPV4}
%{CUSTOM_CONF_SSH_LISTEN_IPV6}

# Protocol and crypto settings
Protocol 2
HostKey /etc/ssh/ssh_host_ed25519_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_rsa_key
Ciphers aes256-gcm@openssh.com,chacha20-poly1305@openssh.com
HostKeyAlgorithms -ecdsa-sha2-nist*,sk-ecdsa-sha2-nist*,ssh-rsa
PubkeyAcceptedKeyTypes -ecdsa-sha2-nist*,sk-ecdsa-sha2-nist*,ssh-rsa
KexAlgorithms -ecdh-sha2-nist*

# Logging
SyslogFacility AUTH
LogLevel INFO

# Authentication
LoginGraceTime 30
PermitRootLogin yes
StrictModes yes
PubkeyAuthentication yes
%{CUSTOM_CONF_SSH_PASSWORDAUTHENTICATION}
IgnoreRhosts yes
HostbasedAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes

# Features
%{CUSTOM_CONF_SSH_FORWARDX11}
PrintMotd no
PrintLastLog yes
%{CUSTOM_CONF_SSH_TCPKEEPALIVE}
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server

# ACL
# (Please use 'dpkg-reconfigure custom-conf-ssh' to change this setting)
%{CUSTOM_CONF_SSH_ALLOWUSERS}

