Source: custom-pack-openoffice4-de
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-pack-openoffice4-de
Architecture: all
Breaks: custom-packages-install-openoffice4-de (<< 2017.03.07a)
Replaces: custom-packages-install-openoffice4-de (<< 2017.03.07a)
Depends: openoffice-de (>= 4.0.0), openoffice-de-calc (>= 4.0.0), openoffice-de-draw (>= 4.0.0), openoffice-de-help (>= 4.0.0), openoffice-de-impress (>= 4.0.0), openoffice-de-math (>= 4.0.0), openoffice-de-res (>= 4.0.0), openoffice-de-writer (>= 4.0.0)
Description: Custom Configuration Framework - OpenOffice.org 4, German language pack (original Apache packages)

