Source: custom-conf-docker
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 4.6.0

Package: custom-conf-docker
Architecture: all
Depends: custom-conf, docker-ce | docker-engine
Recommends: custom-conf-apparmor
Suggests: custom-conf-apt-docker, bridge-utils, aufs-tools, docker-compose
Description: Custom Configuration Framework - Docker (Engine)

