Source: custom-pack-sysutils
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-pack-sysutils
Architecture: all
Breaks: custom-packages-install-common (<< 2017.03.07a)
Replaces: custom-packages-install-common (<< 2017.03.07a)
Depends: custom-pack-base, arc, arj, asciidoc, bc, bsd-mailx, bmon, dc, dialog, dnsutils, gnupg, htop, iftop, lm-sensors, lshw, lsof, moreutils, msort, p7zip-rar, pbzip2, pigz, pixz, plzip, preload, psutils, tofrodos, tree, sudo, unace, unalz, uni2ascii, units, unrar, usbutils, vim-nox, wget
Description: Custom Configuration Framework - System utilities (command line)

