Source: custom-packages-install-openoffice4-fr
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-openoffice4-fr
Architecture: all
Depends: openoffice-fr (>= 4.0.0), openoffice-fr-calc (>= 4.0.0), openoffice-fr-draw (>= 4.0.0), openoffice-fr-help (>= 4.0.0), openoffice-fr-impress (>= 4.0.0), openoffice-fr-math (>= 4.0.0), openoffice-fr-res (>= 4.0.0), openoffice-fr-writer (>= 4.0.0)
Description: Custom Configuration Framework - OpenOffice.org 4, French language pack (original Apache packages)

