Source: custom-packages-install-openoffice4-en-us
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-packages-install-openoffice4-en-us
Architecture: all
Depends: openoffice-en-us (>= 4.0.0), openoffice-en-us-calc (>= 4.0.0), openoffice-en-us-draw (>= 4.0.0), openoffice-en-us-help (>= 4.0.0), openoffice-en-us-impress (>= 4.0.0), openoffice-en-us-math (>= 4.0.0), openoffice-en-us-res (>= 4.0.0), openoffice-en-us-writer (>= 4.0.0)
Description: Custom Configuration Framework - OpenOffice.org 4, Engligh (US) language pack (original Apache packages)

