Source: custom-pack-libreoffice5-en-us
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-pack-libreoffice5-en-us
Architecture: all
Depends: libreoffice5.4-en-us, libreoffice5.4-dict-en, libobasis5.4-en-us-help
Description: Custom Configuration Framework - LibreOffice 5.4, Engligh (US) language pack (original upstream packages)

