Source: custom-conf-ginn
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@ced-network.net>
Homepage: https://github.com/cedric-dufour/custom-conf
Standards-Version: 3.9.7

Package: custom-conf-ginn
Architecture: all
Depends: custom-conf, ginn, procps
Description: Custom Configuration Framework - ginn (quirks)

